[bog_builderui_studio] [mol_gallery] {
	gap: 1rem;
	align-content: flex-start;
}

[bog_builderui_studio] [mol_scroll] {
	overflow: auto;
}

[bog_builderui_studio] [mol_avatar] {
	width: 40px;
	height: 40px;
	min-width: 40px;
	border-radius: 50%;
	background-color: var(--bog_builderui_field);
	border: 1px solid var(--bog_builderui_line);
	color: var(--bog_builderui_text);
	padding: 4px;
	box-sizing: border-box;
}
