[bog_builderui_studio_pick]:hover {
	background-color: #1f1f1f;
	border-color: #404040;
}

[bog_builderui_studio_pick]:focus-visible {
	outline: 2px solid #525252;
	outline-offset: 2px;
}

[bog_builderui_studio_pick]:active {
	background-color: #262626;
}

[bog_builderui_studio_pick] [bog_builderui_studio_pick_dot] {
	background-color: var(--bog_builderui_studio_pick_dot);
}

[bog_builderui_studio_pick] [mol_select_trigger],
[bog_builderui_studio_pick] [mol_select_trigger]:hover,
[bog_builderui_studio_pick] [mol_check],
[bog_builderui_studio_pick] [mol_check]:hover {
	background-color: transparent;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: 0;
	width: 100%;
	flex: 1 1 auto;
	gap: 0.5rem;
}

