[bog_builderui_select] {
	transition: background-color 120ms, border-color 120ms;
	cursor: pointer;
}

[bog_builderui_select]:hover {
	background-color: var(--bog_builderui_hover);
	border-color: var(--bog_builderui_focus);
}

[bog_builderui_select] [mol_select_trigger] {
	background-color: transparent;
}

[bog_builderui_select] [mol_select_trigger]:hover {
	background-color: transparent;
}
